body{
  background-image: linear-gradient(rgba(20,30,20,0.3),rgba(20,30,20,0.3)), url(image/wooden-floor-background.jpg);
  color: white !important;
  overflow-x: hidden;
}
.rust{
  gap: 30px !important;
}

.mask{
 padding: 30px 300px !important;
 position: fixed;
 top: 400px;
}
.limbo{
  margin-top: 10px;
}
#display{
  margin-top: 39px;
  padding: 10;
  overflow-y: auto;
  height: 100vh;
  /* background-color: white; */
}

@media screen and (max-width: 475px) {

  .mask{
    padding: 0px 22px !important;
    position: fixed;
    top: 600px;
    width: 400px;
    }

    #display{
      margin-top: 39px;
      padding: 10;
      overflow-y: auto;
      height: 100vh;
      /* background-color: white; */
    }
   .limbo{
    position: fixed;
    bottom: 170px;
    left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    width: 200px;
    padding-left: 10px;
    padding-right: 5px;

   }

   .limbo>img{
    width: 10px !important;
    height: 10px !important;
   }
}